<h1>Bienvenido a la página de Productos</h1>
<div id="productsList" class="container collection-item"></div>
{{!-- {{#each products}}
{{/each}} --}}
  </div>

<script type="module" src="/js/home.js"></script>