<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/estilos.css">
  <title>Mi Tienda Online | {{ title }}</title>
</head>
<body>
  
  <nav class="brown darken-3">
    <div class="nav-wrapper container">
      <a href="/" class="brand-logo">Cars Shop</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/realtimeproducts">realTimeProducts</a></li>
        <li><a href="accesorios.html">Accesorios</a></li>
        <li><a href="cantactenos.html">Contáctenos</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="container">
    {{{ body }}}
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>